<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <style>
    /* Header styles */
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

    body {
      font-family: "Noto Sans", sans-serif;
      background: rgba(242, 242, 242, 1);
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    main {
      flex: 1;
    }

    main #content-container {
      padding: 2em 0;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 1);
      /* background-color: lightcoral; */
      padding: 0 1em;
    }

    /* Navigation Styles */
    .navigation {
      display: inline-flex;
      flex-direction: column;
      font-family: "Poppins", sans-serif;
    }

    .navigation ul {
      display: inline-flex;
      column-gap: 3em;
      padding: 0 1em;
      margin: 0;
      list-style: none;
    }

    .navigation ul li {
      font-size: 14px;
      padding: 1.5em;
      border-bottom: 3px solid transparent;
      transition: border-bottom-color 0.5s;
      user-select: none;
    }

    .navigation ul li[selected] {
      border-bottom: 3px solid rgba(47, 128, 237, 1);
      border-radius: 2px;
      transition-timing-function: ease;
    }

    .navigation li a {
      text-decoration: none;
      color: rgba(130, 130, 130, 1);
      font-weight: 500;
    }

    .navigation ul li a:hover {
      color: rgba(47, 128, 237, 1);
    }

    .navigation ul li[selected] a {
      color: rgba(47, 128, 237, 1);
      font-weight: 600;
    }

    /* Profile-Menu Styles */
    .profile-menu {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: end;
      font-family: "Noto Sans", sans-serif;
      user-select: none;
      position: relative;
    }

    .profile-menu .profile-info {
      display: inline-flex;
      column-gap: 8px;
      align-items: center;
      transition: display 0.5s;
    }

    .profile-menu .profile-info:hover {
      cursor: pointer;
    }

    .profile-info .profile-img {
      height: 24px;
      width: 24px;
      border-radius: 4px;
    }

    .profile-info .profile-name {
      font-weight: 700;
      font-size: 12px;
      text-transform: capitalize;
    }

    .profile-menu .profile-card {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      top: 3em;
      border: 1px solid rgba(224, 224, 224, 1);
      border-radius: 12px;
      transition-timing-function: ease;
    }

    .profile-card ul {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      list-style: none;
      padding: 12px;
      margin: 0;
      width: 150px;
    }

    .profile-card ul hr {
      height: 1px;
      width: 100%;
      background-color: rgba(224, 224, 224, 1);
    }

    .profile-card ul li {
      display: inline-flex;
      column-gap: 8px;
      align-items: center;
      padding: 8px;
      border-radius: 8px;
    }

    .profile-card ul li:hover {
      cursor: pointer;
      background-color: rgba(242, 242, 242, 1);
    }

    .profile-card ul li .logout {
      appearance: none;
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      text-align: inherit;
    }

    .profile-card ul li .logout:hover {
      cursor: pointer;
      background-color: rgba(242, 242, 242, 1);
    }

    .profile-card .icon svg {
      width: 16px;
      height: 16px;
    }

    .profile-card .my-profile a {
      text-decoration: none;
      color: black;
    }

    /* Tweet Card Styles */

    .tweet-card {
      display: flex;
      flex-direction: column;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
      padding: 1em;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 1);
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      /* width: 600px; */
    }

    .tweet-card .profile-info {
      display: flex;
      flex-direction: row;
      column-gap: 1em;
    }

    .tweet-card .profile-info .profile-img {
      height: 40px;
      width: 40px;
      border-radius: 8px;
    }

    .tweet-card .profile-info .profile-details {
      display: flex;
      flex-direction: column;
    }

    .tweet-card .profile-info .profile-details:hover {
      cursor: pointer;
    }

    .tweet-card .profile-details .name {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      color: rgba(0, 0, 0, 1);
    }

    .tweet-card .profile-details .time-stamp {
      font-family: "Noto Sans", sans-serif;
      font-size: 12px;
      font-weight: 500;
      margin: 0;
      color: rgba(189, 189, 189, 1);
    }

    .tweet-card .tweet-cover-info {
      display: inline-flex;
      flex-direction: column;
    }

    .tweet-card .tweet-cover-info .tweet-description {
      font-family: "Noto Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      /* margin: 0; */
      color: rgba(79, 79, 79, 1);
    }

    .tweet-card .tweet-cover-info .cover-img {
      /* height: 350px; */
      width: 100%;
      border-radius: 8px;
    }

    .tweet-card .tweet-cover-info .cover-details {
      display: inline-flex;
      flex-direction: row;
      align-self: flex-end;
      column-gap: 1em;
      font-family: "Noto Sans", sans-serif;
      font-size: 12px;
      font-weight: 500;
      color: rgba(189, 189, 189, 1);
      margin: 0.5em 0;
    }

    .tweet-card .tweet-cover-info .cover-controls {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      column-gap: 1em;
      margin: 0.5em 0;
      border-top: 1px solid rgba(242, 242, 242, 1);
      border-bottom: 1px solid rgba(242, 242, 242, 1);
      padding: 0.25em 0;
    }

    .tweet-card .cover-controls button {
      flex: 1;
      background-color: transparent;
      border: 0;
      padding: 1em;
      font-family: "Noto Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: rgba(79, 79, 79, 1);
    }

    .tweet-card .cover-controls button:hover {
      background-color: rgba(242, 242, 242, 1);
      cursor: pointer;
      border-radius: 8px;
    }

    .tweet-card .cover-controls svg {
      margin-inline-end: 1em;
      color: rgba(79, 79, 79, 1);
    }

    .tweet-card .tweet-reply-container {
      display: inline-flex;
      flex-direction: column;
    }

    .tweet-card .tweet-reply-form {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      column-gap: 1em;
      padding: 0.5em 0;
    }

    .tweet-card .tweet-reply-form .profile-img {
      height: 40px;
      width: 40px;
      border-radius: 8px;
    }

    .tweet-card .tweet-reply-form .tweet-reply-control-container {
      display: inline-flex;
      height: 40px;
      width: 100%;
      border: 1px solid rgba(242, 242, 242, 1);
      border-radius: 8px;
      font-family: "Noto Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: rgba(189, 189, 189, 1);
    }

    .tweet-card .tweet-reply-form .tweet-reply-input {
      border: 0;
      width: 100%;
      margin: 2px;
    }

    .tweet-card .tweet-reply-form .tweet-reply-input:focus-visible {
      outline: 0;
    }

    .tweet-card .tweet-reply-control-container .upload-media {
      border: 0;
      background-color: transparent;
      padding: 1em;
    }

    .tweet-card .tweet-reply-control-container .upload-media:hover {
      cursor: pointer;
    }

    .tweet-card .tweet-reply-item {
      display: inline-flex;
      flex-direction: row;
      column-gap: 1em;
      padding: 1em 0;
    }

    .tweet-card .tweet-reply-item .profile-img {
      height: 40px;
      width: 40px;
      border-radius: 8px;
    }

    .tweet-card .tweet-reply-item .reply-content {
      display: inline-flex;
      flex-direction: column;
    }

    .tweet-card .reply-content .reply-profile-info {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      column-gap: 1em;
    }

    .tweet-card .reply-profile-info .name {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
    }

    .tweet-card .reply-profile-info .time-stamp {
      font-family: "Noto Sans", sans-serif;
      font-size: 12px;
      font-weight: 500;
      color: rgba(189, 189, 189, 1);
    }

    .tweet-card .reply-msg .reply-msg-description {
      font-family: "Noto Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: rgba(79, 79, 79, 1);
      overflow-wrap: break-word;
    }

    .tweet-card .reply-msg .reply-msg-cover {
      height: 250px;
      width: 100%;
      border-radius: 8px;
    }

    .tweet-card .tweet-reply-item .reply-controls {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      column-gap: 1em;
      padding: 1em 0;
      font-family: "Noto Sans", sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: rgba(189, 189, 189, 1);
    }

    .tweet-card .reply-controls .like {
      background-color: transparent;
      padding: 1em;
      border: 0;
    }

    .tweet-card .reply-controls .like:hover {
      cursor: pointer;
    }

    .tweet-card .reply-controls .like svg {
      margin-inline-end: 0.5em;
    }
  </style>
</head>

<body>
  <!-- Header Section -->
  <section class="header">
    <div class="logo">
      <a href="/">
        <img src="/tweeter.svg" alt="tweeter-logo">
      </a>
    </div>

    <!-- Navigation -->
    <nav class="navigation">
      <ul>
        <li class="navigation-list"><a href="/" class="navigation-link">Home</a></li>
        <li class="navigation-list"><a href="explore" class="navigation-link">Explore</a></li>
        <li class="navigation-list"><a href="bookmarks" class="navigation-link">Bookmarks</a></li>
      </ul>
    </nav>

    <!-- Profile -->
    <div class="profile-menu">
      <div class="profile-info">
        <img src="/avatar.svg" class="profile-img" alt="profile-img">
        <h2 class="profile-name">
          Bradyboy
        </h2>
        <span class="drop-icon">
          <i class="fa-solid fa-caret-down"></i>
        </span>
      </div>

      <div class="profile-card" hidden>
        <ul>
          <li>
            <span class="icon"><i class="fa-solid fa-circle-user"></i></span>
            <span class="my-profile"><a href="profile" class="navigation-link">My Profile</a></span>
          </li>
          <li>
            <span class="icon"><i class="fa-solid fa-user-group"></i></span>
            <span class="group-chat">Group Chat</span>
          </li>
          <li>
            <span class="icon"><i class="fa-solid fa-gear"></i></span>
            <span class="settings">Settings</span>
          </li>
          <hr>
          <li>
            <span class="icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
            <form action="/logout" method="POST">
              <button class="logout">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <!-- TweetPost Section -->
  <div id="tweet-card-container">

    <div class="tweet-card">
      <div class="profile-info">
        <img src="/avatar.svg" alt="profile-img" class="profile-img">
        <div class="profile-details">
          <span class="name">Cristina Neal</span>
          <span class="time-stamp">24 August at 20:43</span>
        </div>
      </div>


      <div class="tweet-cover-info">
        <p class="tweet-description">“We travel, some of us forever, to seek other places, other lives, other
          souls.”
          –
          Anais Nin</p>
        <img src="/profileCover.jpg" alt="cover-img" class="cover-img">
        <div class="cover-details">
          <span class="comments-count">449 Comments</span>
          <span class="retweets-count">59k Retweets</span>
          <span class="saved-count">234 Saved</span>
        </div>
        <div class="cover-controls">
          <button class="comment"><i class="fa-regular fa-message fa-flip-horizontal"></i>Comment</button>
          <button class="retweet"><i class="fa-solid fa-retweet"></i>Retweet</button>
          <button class="like"><i class="fa-regular fa-heart"></i>Like</button>
          <button class="save"><i class="fa-regular fa-bookmark"></i>Save</button>
        </div>
      </div>

      <div class="tweet-reply-container">
        <div class="tweet-reply-form">
          <img src="/avatar.svg" alt="profile-img" class="profile-img">
          <div class="tweet-reply-control-container">
            <input type="text" placeholder="Tweet your reply" class="tweet-reply-input" name="tweet-reply-control"
              id="tweet-reply-control">
            <button class="upload-media" id="uploadMedia"><i class="fa-regular fa-image"></i></button>
            <input type="file" id="fileInput" style="display:none">
          </div>
        </div>

        <div class="tweet-reply-item">
          <img src="/avatar.svg" alt="profile-img" class="profile-img">
          <div class="reply-content">
            <div class="reply-profile-info">
              <span class="name">Cristina Neal</span>
              <span class="time-stamp">24 August at 20:43</span>
            </div>
            <div class="reply-msg">
              <p class="reply-msg-description">I’ve seen awe-inspiring things that I thought I’d never be able
                to
                explain
                to another person.</p>
              <img src="/profileCover.jpg" alt="reply-cover" class="reply-msg-cover">
            </div>
            <div class="reply-controls">
              <button class="like"><i class="fa-regular fa-heart"></i>Like</button>
              <span class="likes-count">12k Likes</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>